.terms-of-service {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.terms-of-service h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #d12317;
}

.terms-of-service h2 {
  color: #d12317;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 2px solid #d12317;
  padding-bottom: 5px;
}

.terms-of-service p,
.terms-of-service ul {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.1em;
}

.terms-of-service ul {
  padding-left: 20px;
}

.terms-of-service li {
  margin-bottom: 10px;
}

.section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.section:last-child {
  border-bottom: none;
}

a {
  color: #d12317;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Dark mode styles */
body.dark-mode .terms-of-service {
  color: #f9f9f9;
  background-color: #333;
}

body.dark-mode .terms-of-service p,
body.dark-mode .terms-of-service ul {
  color: #f9f9f9;
}

body.dark-mode .terms-of-service a {
  color: #ff4d4d;
}

body.dark-mode .terms-of-service .section {
  border-bottom: 1px solid #555;
}

body.dark-mode .terms-of-service h1,
body.dark-mode .terms-of-service h2 {
  color: #ff4d4d;
}
